body {
    background: url('/img/backgr.jpg');
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.main-header {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.name {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    margin-left: 72px;
}

.name:hover,
.log-info:hover {
    color: #3CB878;
    transition: all 0.2s ease;
}

.nav-item:not(p):hover .icon-white {
    display: none;
    transition: all 0.2s ease;
}

.nav-item:not(p):hover .icon-green {
    display: inline;
    transition: all 0.2s ease;
}

.main-nav {
    margin-right: 72px;
    display: flex;
    align-items: center;
}

.form {
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.nav-text {
    color: #FFF;
}

.log-info {
    text-decoration: none;
    color: #FFF;
}

.nav-item:not(p) {
    margin-right: 26px;
}

.nav-item:last-child {
    margin-left: 14px;
}

.nav-item:nth-child(4)::before {
    content: '';
    height: 18px;
    border-right: 1.8px solid #FFF;
    position: absolute;
    top: 37%;
    right: 20.5%;
    opacity: 0.41;
}

.icon-green {
    display: none;
}

.form-area {
    padding: 35px 70px;
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 45px auto;
    position:relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-signup:first-child {
    font-size: 20px;
    text-transform: capitalize;
    color: #434343;
    margin: 0;
}

.login-signup:last-child {
    text-transform: capitalize;
    color: #3CB878;
    text-decoration: none;
}

.login-signup:last-child:hover {
    text-decoration: underline;
}

.login-signup:first-child::before {
    content: url(/img/shape.svg);
    position: absolute;
    left: 0;
    top: 36px;
}

.btn {
    height: 48px;
    width: 190px;
    border-radius: 4px;
    color: white;
    padding-left: 14px;
    border-width: 0;
    cursor: pointer;
}

.btn:first-child {
    background-color: #305DB8;
}

.btn:last-child {
    background-color: #DF4A32;
}

.btn:first-child:hover {
    background-color: #022263;
    transition: all 0.2s ease;
}

.btn:last-child:hover {
    background-color: #AB1F09;
    transition: all 0.2s ease;
}

.btn:first-child::after {
    content: 'Facebook';
    margin-left: 18px;
    margin-right: 35px;
    position: relative;
    left: 12px;
    bottom: 6px;
}

.btn:last-child::after {
    content: 'Google';
    margin-left: 20px;
    margin-right: 35px;
    position: relative;
    left: 15px;
    bottom: 6px;
}

.facebook-img {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 18px;
}

.google-img {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 9px;
    height: 24px;
}

.or {
    color: #848484;
}

.or::before {
    content: 'ffffffffffffffffffffffffffffff';
    width: 150px;
    border-bottom: 1px solid #84848465;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0);
    position: relative;
    bottom: 7px;
}

.or::after {
    content: 'ffffffffffffffffffffffffffffff';
    width: 150px;
    border-bottom: 1px solid #84848465;
    margin-left: 6px;
    color: rgba(0, 0, 0, 0);
    position: relative;
    bottom: 7px;
}

.input-field {
    width: 372px;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 25px;
}

.input-field::placeholder {
    color: #BEBEBE;
}

.input-field:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.submit {
    width: 400px;
    height: 44px;
    color: white;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0;
    margin-top: 23px;
    cursor: pointer;
}

.submit:hover {
    background-color: #01813F;
    transition: all 0.2s ease;
}

.terms {
    position: absolute;
    left: -9999px;
}

.read-terms {
    text-decoration: none;
    color: #3CB878;
}

.read-terms:hover {
    border-bottom: 2px solid #3CB878;
}

.terms + label,
.terms + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.terms + label::before,
.terms + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.terms + label::after,
.terms + label::after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.terms:not(:checked) + label::after {
    opacity: 0;
}

.terms:checked + label::after {
    opacity: 1;
}

/* .checkbox-container {
    position: relative;
} */